body {
  background-color: #fcfff9;
}

.header {
  border-bottom: double #C70039;
  padding: 10px;
}

.header h4 {
  padding-left: 50px;
  padding-top: 5px;
}

.header img {
  width: 125px;
  height: auto;
  float: left;
  padding-right: 15px;
}

.header a {
  color: #4f4f4f;
}

h1 {
  color: #C70039;
  font-size: 46px;
  font-family: Patua One;
}

h2 {
  font-size: 22px;
  margin-top: 0px;
}

h2.small {
  font-size: 16px;
  margin-top: 0px;
  color: #1d942f;
}

h3 {
  text-align: right;
}

h3 a {
  color: #4f4f4f;
}

h5 {
  padding-left: 20px;
  font-size: 16px;
}

h6 {
  padding-left: 25px;
  margin-top: -5px;
  font-size: 12px;
}

.main {
  padding: 10px;
  margin-left: 0px;
}

.main h3 {
  color: #C70039;
  text-align: left;
}

.main h4 {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 16px;
}

.main h5 {
  margin-top: 5px;
  font-size: 14px;
  padding-left: 25px;
  font-weight: bold;
  color: #c65374;
}

ul li {
  padding-left: 25px;
  list-style-position: inside;
  text-indent: -2em;
}

p {
  padding-left: 25px;
}
