$pink: #C70039
$pink-light: #c65374
$hire: #1d942f
$link: #4f4f4f
$gray: #4f4f4f

body 
    background-color: #fcfff9

.header
    border-bottom: double $pink
    padding: 10px
    & h4
        padding-left: 50px
        padding-top: 5px
    & img 
        width: 125px
        height: auto
        float: left
        padding-right: 15px
    & a 
        color: $gray

.sidebar
    padding: 
    
h1
    color: $pink
    font-size: 46px
    font-family: Patua One

h2
    font-size: 22px
    margin-top: 0px
    &.small
        font-size: 16px
        margin-top: 0px
        color: $hire

h3
    text-align: right
    & a 
        color: $link

h5
    padding-left: 20px
    font-size: 16px

h6
    padding-left: 25px
    margin-top: -5px
    font-size: 12px

.main
    padding: 10px
    margin-left: 0px
    & h3
        color: $pink
        text-align: left
    & h4
        padding-left: 10px
        padding-top: 5px
        font-size: 16px
    & h5
        margin-top: 5px
        font-size: 14px
        padding-left: 25px
        font-weight: bold
        color: $pink-light

ul li
    padding-left: 25px
    list-style-position: inside
    text-indent: -2em

p 
    padding-left: 25px